// WoW - UI Colors
$clr-bg: #1a1c23;
$clr-text: #ffffff;
$clr-text-lesser: #b8b9bb;
$clr-baby-blue: #7abfff;
$clr-horde: #e02929;
$clr-alliance: #69f;
$clr-bg-light-shade: #292b33;
$clr-bg-lighter-shade: #36373f;
$clr-border-dark: #111111;
$clr-border-light: #666666;

// WoW - Class Colors
$clr-warrior: #c69b6d;
$clr-paladin: #f48cba;
$clr-hunter: #aad372;
$clr-rogue: #fff468;
$clr-priest: #ffffff;
$clr-death-knight: #c41e3a;
$clr-shaman: #0070dd;
$clr-mage: #3fc7eb;
$clr-warlock: #8788ee;
$clr-monk: #00ff98;
$clr-druid: #ff7c0a;
$clr-demon-hunter: #a330c9;

// Focus Border
@mixin focusBorder {
  outline: 1px solid $clr-baby-blue;
}

// Layout
* {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  min-height: 100%;
}
body {
  background-color: $clr-bg;
  color: $clr-text;
  line-height: 1.2;
  overflow: hidden;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 3rem 0;
  position: relative;
  overflow: auto;
  .error {
    color: red;
  }
  .loading {
    color: $clr-text-lesser;
  }
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background: $clr-bg;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $clr-bg-lighter-shade;
  }
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.25;
  }
  &.Horde {
    &:before {
      background: linear-gradient(0deg, $clr-bg 0%, $clr-horde 100%);
    }
    &::-webkit-scrollbar-thumb {
      background: $clr-horde;
    }
  }
  &.Alliance {
    &:before {
      background: linear-gradient(0deg, $clr-bg 0%, $clr-alliance 100%);
    }
    &::-webkit-scrollbar-thumb {
      background: $clr-alliance;
    }
  }
  .search-bar {
    margin-bottom: 1.5rem;
    form {
      display: flex;
      gap: 0.125rem;
      input {
        font-size: 1.25rem;
        color: $clr-text;
        padding: 0.5rem;
        border: 1px $clr-bg-lighter-shade solid;
        background-color: $clr-bg-light-shade;
        outline: none;
        &:focus {
          @include focusBorder;
        }
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
          border: 1px solid $clr-bg-lighter-shade;
          -webkit-text-fill-color: $clr-text;
          -webkit-box-shadow: 0 0 0px 1000px $clr-bg-light-shade inset;
          @include focusBorder;
        }
      }
      button {
        font-size: 1.25rem;
        color: $clr-text;
        padding: 0.5rem 1rem;
        background-color: $clr-baby-blue;
        border: none;
        cursor: pointer;
        &:focus {
          @include focusBorder;
        }
        @at-root .wrapper.Horde .search-bar button {
          background-color: $clr-horde;
        }
        @at-root .wrapper.Alliance .search-bar button {
          background-color: $clr-alliance;
        }
      }
      & + small {
        color: $clr-text-lesser;
        display: block;
        margin-top: 0.5rem;
      }
    }
  }
  h1 {
    margin-top: 0;
    text-transform: capitalize;
    .Horde {
      color: $clr-horde;
    }
    .Alliance {
      color: $clr-alliance;
    }
  }
  h2 {
    em {
      color: $clr-baby-blue;
      font-style: normal;
    }
    span {
      color: $clr-text-lesser;
      font-weight: normal;
    }
  }
  .filter-bar {
    .selectors {
      display: flex;
      justify-content: center;
      gap: 4rem;
      text-align: center;
      label {
        color: $clr-text-lesser;
        display: block;
        margin-bottom: 0.5rem;
      }
      select {
        font-size: 1.5rem;
        color: $clr-text;
        padding: 0.5rem;
        border: 1px $clr-bg-lighter-shade solid;
        background-color: $clr-bg-light-shade;
        &:focus {
          @include focusBorder;
        }
      }
    }
  }
  .characters {
    margin: 1rem 0 0;
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        line-height: 1.5;
        em {
          color: $clr-text-lesser;
          font-style: normal;
        }
        a {
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
          &:focus {
            @include focusBorder;
          }
          &[data-wow-class='Warrior'] {
            color: $clr-warrior;
          }
          &[data-wow-class='Paladin'] {
            color: $clr-paladin;
          }
          &[data-wow-class='Hunter'] {
            color: $clr-hunter;
          }
          &[data-wow-class='Rogue'] {
            color: $clr-rogue;
          }
          &[data-wow-class='Priest'] {
            color: $clr-priest;
          }
          &[data-wow-class='Death Knight'] {
            color: $clr-death-knight;
          }
          &[data-wow-class='Shaman'] {
            color: $clr-shaman;
          }
          &[data-wow-class='Mage'] {
            color: $clr-mage;
          }
          &[data-wow-class='Warlock'] {
            color: $clr-warlock;
          }
          &[data-wow-class='Monk'] {
            color: $clr-monk;
          }
          &[data-wow-class='Druid'] {
            color: $clr-druid;
          }
          &[data-wow-class='Demon Hunter'] {
            color: $clr-demon-hunter;
          }
        }
      }
    }
    .character {
      $gridTemplateColums: 8rem 12rem auto 8rem;
      $gridRowsPadding: 0.75rem 1rem;
      &-list {
        border: 1px $clr-border-dark solid;
        border-bottom: none;
        &-heading {
          width: 100%;
          display: grid;
          grid-template-columns: $gridTemplateColums;
          background-color: $clr-bg;
          &-class,
          &-name,
          &-best-runs,
          &-score {
            padding: $gridRowsPadding;
            position: relative;
            cursor: pointer;
          }
          &-best-runs {
            text-align: center;
            cursor: default;
          }
          &-score {
            text-align: right;
          }
          [data-sorted='true'][data-sort='ASC'] {
            box-shadow: inset $clr-border-light 0 6px 0;
          }
          [data-sorted='true'][data-sort='DESC'] {
            box-shadow: inset $clr-border-light 0 -6px 0;
          }
        }
      }
      &-row {
        width: 100%;
        display: grid;
        grid-template-columns: $gridTemplateColums;
        padding: $gridRowsPadding;
        background-color: $clr-bg-light-shade;
        border-bottom: 1px $clr-border-dark solid;
        align-items: center;
        &:nth-child(2n + 1) {
          background-color: $clr-bg-lighter-shade;
        }
      }
      &-class {
        img {
          display: block;
          width: 2rem;
          height: 2rem;
          border: 1px $clr-border-light solid;
          border-radius: 2px;
        }
      }
      &-best-runs {
        text-align: center;
      }
      &-score {
        text-align: right;
      }
    }
  }
  .mythics {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0.25rem;
    .mythic {
      &-block {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0.25rem;
        line-height: 1.25;
        text-align: center;
        border: 1px $clr-border-light solid;
        border-radius: 2px;
        background-color: rgba(0, 0, 0, 0.35);
        &[data-in-time='false'] {
          opacity: 0.5;
        }
        &[data-affix='Tyrannical'] {
          border-color: green;
        }
        &[data-affix='Fortified'] {
          border-color: blue;
        }
      }
      &-number {
        font-size: 0.75rem;
      }
      &-name {
        font-size: 0.5625rem;
        text-transform: uppercase;
      }
    }
  }
}
