// UI Colors
$clr-bg: rgb(26, 28, 35);
$clr-white: rgb(255, 255, 255);
$clr-black: rgb(0, 0, 0);
$clr-text: $clr-white;
$clr-text-lesser: rgb(184, 184, 186);
$clr-baby-blue: rgb(122, 191, 255);
$clr-bg-light-shade: rgb(41, 43, 51);
$clr-bg-lighter-shade: rgb(54, 55, 63);
$clr-border-dark: rgb(17, 17, 17);
$clr-border-light: rgb(102, 102, 102);

// WOW Specific Colors
$clr-horde: rgb(224, 41, 41);
$clr-alliance: rgb(102, 153, 255);
$clr-tyrannical: rgb(188, 127, 73);
$clr-fortified: rgb(0, 179, 201);

// Layout
* {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  min-height: 100%;
}
body {
  font-size: 1rem;
  background-color: $clr-bg;
  color: $clr-text;
  line-height: 1.2;
  overflow: hidden;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 3rem 0;
  position: relative;
  overflow: auto;
  @media (max-width: 864px) {
    padding: 5vw 0;
  }
  button {
    cursor: pointer;
    &[disabled] {
      cursor: default;
    }
  }
  .error {
    color: red;
  }
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background: $clr-bg;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $clr-bg-lighter-shade;
  }
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.25;
  }
  &.Horde {
    &:before {
      background: linear-gradient(0deg, $clr-bg 0%, $clr-horde 100%);
    }
    &::-webkit-scrollbar-thumb {
      background: $clr-horde;
    }
  }
  &.Alliance {
    &:before {
      background: linear-gradient(0deg, $clr-bg 0%, $clr-alliance 100%);
    }
    &::-webkit-scrollbar-thumb {
      background: $clr-alliance;
    }
  }
  .search-bar {
    margin-bottom: 1.5rem;
    @media (max-width: 864px) {
      width: 100%;
      padding: 0 5vw;
    }
    form {
      display: grid;
      grid-template-columns: 1fr 1fr 10rem;
      gap: 0.25rem;
      @media (max-width: 864px) {
        grid-template-columns: 1fr;
        gap: 0.75rem;
      }
      input {
        font-size: 1.25rem;
        color: $clr-text;
        text-transform: capitalize;
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
          -webkit-text-fill-color: $clr-text;
          -webkit-box-shadow: 0 0 0px 1000px $clr-bg-light-shade inset;
        }
      }
      .MuiAutocomplete-root {
        width: 100%;
      }
      .MuiOutlinedInput-root {
        background-color: $clr-bg-light-shade;
      }
      .MuiInputLabel-root {
        color: $clr-text-lesser;
        &[data-shrink='false'] {
          font-size: 1.25rem;
        }
      }
      .MuiSvgIcon-root {
        color: $clr-text;
      }
      .MuiAutocomplete-popper {
        .MuiPaper-root {
          background-color: $clr-bg-light-shade;
          .MuiAutocomplete-listbox {
            &::-webkit-scrollbar {
              width: 1rem;
            }
            &::-webkit-scrollbar-track {
              background: $clr-bg;
            }
            &::-webkit-scrollbar-thumb {
              background: $clr-border-light;
            }
            &::-webkit-scrollbar-thumb:hover {
              background: $clr-bg-lighter-shade;
            }
          }
          li {
            color: $clr-text;
          }
        }
      }
      button[type='submit'] {
        font-size: 1.25rem;
        color: $clr-text;
        padding: 0.5rem 1rem;
        background-color: $clr-baby-blue;
        @at-root .wrapper.Horde .search-bar button[type='submit'] {
          background-color: $clr-horde;
        }
        @at-root .wrapper.Alliance .search-bar button[type='submit'] {
          background-color: $clr-alliance;
        }
        &[disabled] {
          opacity: 0.25;
        }
        .loading {
          display: flex;
          justify-content: center;
          &-dots-wrap {
            margin-left: 0;
          }
        }
      }
      & + small {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.5rem;
        color: $clr-text-lesser;
        @media (max-width: 600px) {
          flex-direction: column;
          gap: 0.75rem;
        }
        .loading {
          margin-left: 0.25rem;
        }
        .seasons {
          display: flex;
          gap: 0.25rem;
          &-wrap {
            display: flex;
            align-items: center;
            gap: 0.25rem;
          }
          button {
            background: rgba(255, 255, 255, 0.125);
            color: rgba(255, 255, 255, 0.75);
            border: none;
            border-radius: 0.125rem;
            @media (max-width: 600px) {
              padding: 0.5rem 1rem;
            }
            &:hover {
              background: rgba(255, 255, 255, 0.5);
              color: $clr-white;
            }
            &.active {
              background: $clr-white;
              color: $clr-black;
            }
          }
        }
      }
    }
  }
  .filter-bar {
    .selectors {
      display: flex;
      justify-content: center;
      gap: 4rem;
      text-align: center;
      label {
        color: $clr-text-lesser;
        display: block;
        margin-bottom: 0.5rem;
      }
      select {
        font-size: 1.5rem;
        color: $clr-text;
        padding: 0.5rem;
        border: 1px $clr-bg-lighter-shade solid;
        background-color: $clr-bg-light-shade;
      }
    }
  }
  .characters {
    margin: 1rem 0 0;
    @media (max-width: 864px) {
      max-width: 100%;
      padding: 0 5vw;
    }
    div {
      list-style: none;
      line-height: 1.5;
      em {
        color: $clr-text-lesser;
        font-style: normal;
      }
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .character {
      $gridColClass: 6rem;
      $gridColName: minmax(6rem, max-content);
      $gridColRuns: 1fr;
      $gridColScore: 5rem;
      $gridGap: 1rem 3rem;
      $gridTemplateColums: $gridColClass $gridColName $gridColRuns $gridColScore;
      $gridRowsPaddingX: 1rem;
      $gridRowsPaddingY: 0.75rem;
      $gridRowsPadding: $gridRowsPaddingY $gridRowsPaddingX;
      &-list {
        border: 1px $clr-border-dark solid;
        border-bottom: none;
        &-heading {
          width: 100%;
          display: grid;
          grid-template-columns: $gridTemplateColums;
          background-color: $clr-bg;
          padding: $gridRowsPadding;
          gap: $gridGap;
          position: sticky;
          top: -3rem;
          z-index: 2;
          @media (max-width: 864px) {
            grid-template-columns: repeat(3, 1fr);
            place-items: center;
            top: -5vw;
          }
          &-class-wrap,
          &-name,
          &-best-runs,
          &-score {
            background: transparent;
            border: none;
            color: $clr-text;
            font-size: 1rem;
            position: relative;
            margin: -$gridRowsPaddingY 0;
            padding: $gridRowsPaddingY 0;
          }
          &-class {
            background: transparent;
            border: none;
            color: $clr-text;
            font-size: 1rem;
            margin: 0;
            padding: 0;
            &[disabled] {
              color: $clr-border-light;
            }
            &-wrap {
              display: flex;
            }
            &-dash {
              cursor: default;
              padding: 0 0.25rem;
              opacity: 0.5;
            }
            &-all {
              &[disabled] {
                background: transparent;
                border: none;
                color: rgba(255, 255, 255, 0.5);
                padding: 0;
                font-size: 1rem;
              }
            }
          }
          &-name {
            text-align: left;
          }
          &-best-runs {
            text-align: center;
            @media (max-width: 864px) {
              display: none;
            }
          }
          &-score {
            text-align: center;
          }
          [data-sorted='true'][data-sort='ASC'] {
            box-shadow: inset $clr-border-light 0 6px 0;
          }
          [data-sorted='true'][data-sort='DESC'] {
            box-shadow: inset $clr-border-light 0 -6px 0;
          }
        }
      }
      &-row {
        width: 100%;
        display: grid;
        grid-template-columns: $gridTemplateColums;
        padding: $gridRowsPadding;
        background-color: $clr-bg-light-shade;
        border-bottom: 1px $clr-border-dark solid;
        align-items: center;
        gap: $gridGap;
        @media (max-width: 864px) {
          grid-template-columns: repeat(3, 1fr);
          grid-template-areas:
            'class name score'
            'runs runs runs';
          row-gap: 0;
          place-items: center;
        }
        &:nth-child(2n + 1) {
          background-color: $clr-bg-lighter-shade;
        }
      }
      &-class {
        @media (max-width: 864px) {
          grid-area: class;
        }
        &-icon {
          display: block;
          width: 2rem;
          height: 2rem;
          border: 1px $clr-border-light solid;
          border-radius: 2px;
          background-size: cover;
          span {
            display: none;
          }
        }
      }
      &-name {
        @media (max-width: 864px) {
          grid-area: name;
        }
      }
      &-best-runs {
        text-align: center;
        @media (max-width: 864px) {
          grid-area: runs;
          padding-top: 0.75rem;
        }
      }
      &-score {
        text-align: center;
        @media (max-width: 864px) {
          grid-area: score;
        }
      }
    }
  }
  .mythics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25rem;
    .mythic {
      &-block {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 2.4rem;
        height: 2.3rem;
        padding: 0.25rem;
        font-weight: bold;
        line-height: 1.25;
        text-align: center;
        border: 1px $clr-border-light solid;
        border-radius: 2px;
        background-color: rgba(0, 0, 0, 0.35);
        box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.5), 1px 1px 1px rgb(0, 0, 0, 0.5);
        &.null {
          opacity: 0.25;
        }
        &[data-in-time='false'] {
          color: rgba(255, 255, 255, 0.35);
          box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.95);
        }
        &[data-affix='Tyrannical'] {
          border-color: $clr-tyrannical;
        }
        &[data-affix='Fortified'] {
          border-color: $clr-fortified;
        }
        &[data-short-name] {
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
      &-number {
        font-size: 0.75rem;
      }
      &-name {
        font-size: 0.5625rem;
        text-transform: uppercase;
      }
    }
  }
  .loading {
    display: inline-flex;
    align-items: center;
    &-text {
      color: $clr-text-lesser;
      font-style: italic;
    }
    &-dots {
      $dotSize: 0.6rem;
      $dotSpacing: calc($dotSize + calc($dotSize * 0.5));
      $dotRadius: $dotSize;
      $dotTiming: 0.75s;
      &-wrap {
        position: relative;
        margin-left: 1.25rem;
      }
      position: relative;
      width: $dotSize;
      height: $dotSize;
      border-radius: $dotRadius;
      background-color: $clr-text-lesser;
      color: $clr-text-lesser;
      animation: dotFlashing $dotTiming infinite linear alternate;
      animation-delay: 0.5s;
      &:before,
      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
      }
      &:before {
        left: -$dotSpacing;
        width: $dotSize;
        height: $dotSize;
        border-radius: $dotRadius;
        background-color: $clr-text-lesser;
        color: $clr-text-lesser;
        animation: dotFlashing $dotTiming infinite alternate;
        animation-delay: 0s;
      }
      &:after {
        left: $dotSpacing;
        width: $dotSize;
        height: $dotSize;
        border-radius: $dotRadius;
        background-color: $clr-text-lesser;
        color: $clr-text-lesser;
        animation: dotFlashing $dotTiming infinite alternate;
        animation-delay: 0.75s;
      }
    }
  }
}

@keyframes dotFlashing {
  0% {
    background-color: $clr-text;
  }
  50%,
  100% {
    background-color: rgba(255, 255, 255, 0.125);
  }
}
