// WoW - UI Colors
$clr-bg: rgb(26, 28, 35);
$clr-text: rgb(255, 255, 255);
$clr-text-lesser: rgb(184, 184, 186);
$clr-baby-blue: rgb(122, 191, 255);
$clr-horde: rgb(224, 41, 41);
$clr-alliance: rgb(102, 153, 255);
$clr-bg-light-shade: rgb(41, 43, 51);
$clr-bg-lighter-shade: rgb(54, 55, 63);
$clr-border-dark: rgb(17, 17, 17);
$clr-border-light: rgb(102, 102, 102);
$clr-tyrannical: rgb(188, 127, 73);
$clr-fortified: rgb(0, 179, 201);

// WoW - Class Colors
$clr-warrior: rgb(198, 155, 109);
$clr-paladin: rgb(244, 140, 186);
$clr-hunter: rgb(170, 211, 114);
$clr-rogue: rgb(255, 244, 104);
$clr-priest: rgb(255, 255, 255);
$clr-death-knight: rgb(196, 30, 58);
$clr-shaman: rgb(0, 112, 221);
$clr-mage: rgb(63, 199, 235);
$clr-warlock: rgb(135, 136, 238);
$clr-monk: rgb(0, 255, 152);
$clr-druid: rgb(255, 124, 10);
$clr-demon-hunter: rgb(163, 48, 201);

// Layout
* {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  min-height: 100%;
}
body {
  background-color: $clr-bg;
  color: $clr-text;
  line-height: 1.2;
  overflow: hidden;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 3rem 0;
  position: relative;
  overflow: auto;
  @media (max-width: 864px) {
    padding: 5vw 0;
  }
  .error {
    color: red;
  }
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background: $clr-bg;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $clr-bg-lighter-shade;
  }
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.25;
  }
  &.Horde {
    &:before {
      background: linear-gradient(0deg, $clr-bg 0%, $clr-horde 100%);
    }
    &::-webkit-scrollbar-thumb {
      background: $clr-horde;
    }
  }
  &.Alliance {
    &:before {
      background: linear-gradient(0deg, $clr-bg 0%, $clr-alliance 100%);
    }
    &::-webkit-scrollbar-thumb {
      background: $clr-alliance;
    }
  }
  .search-bar {
    margin-bottom: 1.5rem;
    @media (max-width: 864px) {
      width: 100%;
      padding: 0 5vw;
    }
    form {
      display: grid;
      grid-template-columns: 1fr 1fr 10rem;
      gap: 0.25rem;
      @media (max-width: 864px) {
        grid-template-columns: 1fr;
        gap: 0.75rem;
      }
      input {
        font-size: 1.25rem;
        color: $clr-text;
        text-transform: capitalize;
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
          -webkit-text-fill-color: $clr-text;
          -webkit-box-shadow: 0 0 0px 1000px $clr-bg-light-shade inset;
        }
      }
      .MuiAutocomplete-root {
        width: 100%;
      }
      .MuiOutlinedInput-root {
        background-color: $clr-bg-light-shade;
      }
      .MuiInputLabel-root {
        color: $clr-text;
        &[data-shrink='false'] {
          font-size: 1.25rem;
        }
      }
      .MuiSvgIcon-root {
        color: $clr-text;
      }
      .MuiAutocomplete-popper {
        .MuiPaper-root {
          background-color: $clr-bg-light-shade;
          .MuiAutocomplete-listbox {
            &::-webkit-scrollbar {
              width: 1rem;
            }
            &::-webkit-scrollbar-track {
              background: $clr-bg;
            }
            &::-webkit-scrollbar-thumb {
              background: $clr-border-light;
            }
            &::-webkit-scrollbar-thumb:hover {
              background: $clr-bg-lighter-shade;
            }
          }
          li {
            color: $clr-text;
          }
        }
      }
      button[type='submit'] {
        font-size: 1.25rem;
        color: $clr-text;
        padding: 0.5rem 1rem;
        background-color: $clr-baby-blue;
        cursor: pointer;
        @at-root .wrapper.Horde .search-bar button[type='submit'] {
          background-color: $clr-horde;
        }
        @at-root .wrapper.Alliance .search-bar button[type='submit'] {
          background-color: $clr-alliance;
        }
        &[disabled] {
          cursor: default;
          pointer-events: none;
          opacity: 0.25;
        }
        .loading {
          display: flex;
          justify-content: center;
          &-dots-wrap {
            margin-left: 0;
          }
        }
      }
      & + small {
        color: $clr-text-lesser;
        display: block;
        margin-top: 0.5rem;
        .loading {
          margin-left: 0.25rem;
        }
      }
    }
  }
  .filter-bar {
    .selectors {
      display: flex;
      justify-content: center;
      gap: 4rem;
      text-align: center;
      label {
        color: $clr-text-lesser;
        display: block;
        margin-bottom: 0.5rem;
      }
      select {
        font-size: 1.5rem;
        color: $clr-text;
        padding: 0.5rem;
        border: 1px $clr-bg-lighter-shade solid;
        background-color: $clr-bg-light-shade;
      }
    }
  }
  .characters {
    margin: 1rem 0 0;
    @media (max-width: 864px) {
      max-width: 100%;
      padding: 0 5vw;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        line-height: 1.5;
        em {
          color: $clr-text-lesser;
          font-style: normal;
        }
        a {
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
          $wowClasses: (
            Warrior: $clr-warrior,
            Paladin: $clr-paladin,
            Hunter: $clr-hunter,
            Rogue: $clr-rogue,
            Priest: $clr-priest,
            Death Knight: $clr-death-knight,
            Shaman: $clr-shaman,
            Mage: $clr-mage,
            Warlock: $clr-warlock,
            Monk: $clr-monk,
            Druid: $clr-druid,
            Demon Hunter: $clr-demon-hunter
          );
          @each $wowClassName, $wowClassVariable in $wowClasses {
            &[data-wow-class='#{$wowClassName}'] {
              color: $wowClassVariable;
            }
          }
        }
      }
    }
    .character {
      $gridColClass: 7rem;
      $gridColName: 10rem;
      $gridColRuns: 1fr;
      $GridColScore: 7rem;
      $gridTemplateColums: $gridColClass $gridColName $gridColRuns $GridColScore;
      $gridRowsPadding: 0.75rem 1rem;
      &-list {
        border: 1px $clr-border-dark solid;
        border-bottom: none;
        &-heading {
          width: 100%;
          display: grid;
          grid-template-columns: $gridTemplateColums;
          background-color: $clr-bg;
          position: sticky;
          top: -3rem;
          z-index: 2;
          @media (max-width: 864px) {
            grid-template-columns: $gridColClass 1fr $GridColScore;
            top: -5vw;
          }
          &-class,
          &-name,
          &-best-runs,
          &-score {
            padding: $gridRowsPadding;
            position: relative;
            cursor: pointer;
          }
          &-class {
            cursor: default;
            span {
              cursor: pointer;
            }
            .character {
              &-dash {
                padding: 0 0.25rem;
                opacity: 0.5;
              }
              &-class {
                cursor: pointer;
                pointer-events: all;
                opacity: 1;
                &[data-sorted='true'] {
                  cursor: default;
                  pointer-events: none;
                  opacity: 0.5;
                }
                &-all {
                  cursor: default;
                  pointer-events: none;
                  opacity: 0.5;
                  &[data-sorted='true'] {
                    cursor: pointer;
                    pointer-events: all;
                    opacity: 1;
                  }
                }
              }
            }
          }
          &-best-runs {
            text-align: center;
            cursor: default;
            @media (max-width: 864px) {
              display: none;
            }
          }
          &-score {
            text-align: right;
          }
          [data-sorted='true'][data-sort='ASC'] {
            box-shadow: inset $clr-border-light 0 6px 0;
          }
          [data-sorted='true'][data-sort='DESC'] {
            box-shadow: inset $clr-border-light 0 -6px 0;
          }
        }
      }
      &-row {
        width: 100%;
        display: grid;
        grid-template-columns: $gridTemplateColums;
        padding: $gridRowsPadding;
        background-color: $clr-bg-light-shade;
        border-bottom: 1px $clr-border-dark solid;
        align-items: center;
        @media (max-width: 864px) {
          grid-template-columns: $gridColClass 1fr $GridColScore;
          grid-template-areas:
            'class name score'
            'runs runs runs';
        }
        &:nth-child(2n + 1) {
          background-color: $clr-bg-lighter-shade;
        }
      }
      &-class {
        @media (max-width: 864px) {
          grid-area: class;
        }
        img {
          display: block;
          width: 2rem;
          height: 2rem;
          border: 1px $clr-border-light solid;
          border-radius: 2px;
          cursor: pointer;
        }
      }
      &-name {
        @media (max-width: 864px) {
          grid-area: name;
        }
      }
      &-best-runs {
        text-align: center;
        @media (max-width: 864px) {
          grid-area: runs;
          padding-top: 0.75rem;
        }
      }
      &-score {
        text-align: right;
        @media (max-width: 864px) {
          grid-area: score;
        }
      }
    }
  }
  .mythics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25rem;
    .mythic {
      &-block {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 2.4rem;
        height: 2.3rem;
        padding: 0.25rem;
        font-weight: bold;
        line-height: 1.25;
        text-align: center;
        border: 1px $clr-border-light solid;
        border-radius: 2px;
        background-color: rgba(0, 0, 0, 0.35);
        box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.5), 1px 1px 1px rgb(0, 0, 0, 0.5);
        &.null {
          opacity: 0.25;
        }
        &[data-in-time='false'] {
          color: rgba(255, 255, 255, 0.5);
          box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.95);
        }
        &[data-affix='Tyrannical'] {
          border-color: $clr-tyrannical;
        }
        &[data-affix='Fortified'] {
          border-color: $clr-fortified;
        }
        &[data-short-name] {
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
        }
        $dungeons: dos, gmbt, hoa, mists, nw, pf, sd, soa, strt, top;
        @each $dungeon in $dungeons {
          &[data-short-name='#{$dungeon}'] {
            background-image: url('./assets/img/#{$dungeon}.jpg');
          }
        }
      }
      &-number {
        font-size: 0.75rem;
      }
      &-name {
        font-size: 0.5625rem;
        text-transform: uppercase;
      }
    }
  }
  .loading {
    display: inline-flex;
    align-items: center;
    &-text {
      color: $clr-text-lesser;
      font-style: italic;
    }
    &-dots {
      $dotSize: 0.6rem;
      $dotSpacing: calc($dotSize + calc($dotSize * 0.5));
      $dotRadius: $dotSize;
      $dotTiming: 0.75s;
      &-wrap {
        position: relative;
        margin-left: 1.25rem;
      }
      position: relative;
      width: $dotSize;
      height: $dotSize;
      border-radius: $dotRadius;
      background-color: $clr-text-lesser;
      color: $clr-text-lesser;
      animation: dotFlashing $dotTiming infinite linear alternate;
      animation-delay: 0.5s;
      &:before,
      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
      }
      &:before {
        left: -$dotSpacing;
        width: $dotSize;
        height: $dotSize;
        border-radius: $dotRadius;
        background-color: $clr-text-lesser;
        color: $clr-text-lesser;
        animation: dotFlashing $dotTiming infinite alternate;
        animation-delay: 0s;
      }
      &:after {
        left: $dotSpacing;
        width: $dotSize;
        height: $dotSize;
        border-radius: $dotRadius;
        background-color: $clr-text-lesser;
        color: $clr-text-lesser;
        animation: dotFlashing $dotTiming infinite alternate;
        animation-delay: 0.75s;
      }
    }
  }
}

@keyframes dotFlashing {
  0% {
    background-color: $clr-text;
  }
  50%,
  100% {
    background-color: rgba(255, 255, 255, 0.125);
  }
}
